body{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	background-color: #68cdd5;
}

/*头部的返回按钮*/
.goback{
	width: 54px; 
	height: 56px;
    background: url('images/task3.png') -136px -160px;
    display: block;
    margin: 20px;
}

/*logo*/
.logo{
	width: 186px; 
	height: 73px;
    background: url('images/task3.png') -151px -10px;
    display: block;
    margin:50px auto;

}

/*左下方图片*/
.left{
	width: 121px; height: 130px;
    background: url('images/task3.png') -10px -10px;
    float: left;
    margin-top: 50px;
}

/*右下方图片*/
.right{
	width: 106px; height: 129px;
    background: url('images/task3.png') -10px -160px;
    float: right;
    margin-top: 50px;
}

/*wrap以及中间文字介绍*/
.wrap{
	font: 2.2em sans-serif;
	color: #fff;
	line-height: 2;
	width: 80%;
	margin: 10px auto;
}



