body{
	width:100%;
	text-align:center;
	background-color:pink;
}

#box{
	width:45vw;
	margin:auto;
}

.left,.middle,.right{
	width:12vw;
	height:12vw;
	border:1px solid orange;
	background-color:orange;
	margin:5px;
	float:left;
	border-radius:10px;
}
.left{
	clear:both;
}

button{
	height:60px;
	width:80%;
	background-color:orange;
	color:white;
	border-radius:10px;
	margin:10px 0;
	border:none;
	outline:none;
}
button:hover{
	background:white;
	color:orange;
}