body{
	margin: 0;
	padding: 0;
	background: #eff0f4;
	font-size: 62.5%;
	font-family: Helvetica Arial sans-serif;
}

/*设置header*/
header{
	width: 100%;
	height: 100px;
	background: #5fc0cd;
	font-size: 2.1em;
	color: #fff;
	padding: 20px;            /*设置header的padding为20px*/        
	box-sizing: border-box;   /*宽度为100%的元素添加padding会溢出 */  
	/*利用flex布局使header中的文字呈左中右排布*/
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;  
	align-items: center;
}

/*头部的登陆字样*/
.login{
	font-size: 1.3em;
}

/*使用flex布局input*/
.main{
	display: flex;
	flex-direction: column;
}

/*对输入框的设置*/
input{
	height: 70px;
	margin: 20px 0 0 0;
	border: none;
	outline: none;
	padding-left: 150px;
	font-size:2.4em;
}

/*添加手机图片*/
input[type="text"]{
	background: url(images/task4_1.png) no-repeat #fff 35px center;
}

/*添加密码图片*/
input[type="password"]{
	background: url(images/task4_2.png) no-repeat #fff 35px center;	
}

/*设置placeholder的样式*/
input::-webkit-input-placeholder{
	font-size: 1em;
	color: #e1e5e7;
}
input::-moz-input-placeholder{
	font-size: 1em;
	color: #e1e5e7;
}
input::-ms-input-placeholder{
	font-size: 1em;
	color: #e1e5e7;
}

/*登录按钮*/
button{
	height: 100px;
	background: #5fc0cd;
	margin-top: 40px ;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 3em;
	color: #fff;
	letter-spacing: 20px;
}

a{
	font-size: 1.8em;
	color: #5fc0cd;
	float: right;
	margin: 20px 20px 0 0;
}

