/*重设body的样式*/
body{
	margin: 0;
	padding: 0;
	/*浏览器的滚动条会对vw单位产生影响，故消除滚动条*/
	overflow:hidden;  
}

div{
	width: 31vw;
    padding-bottom: 31vw;
	background: orange;
	margin:1%;
	border-radius:10%;
	float:left;
}


