/*重设body的样式*/
body{
	margin: 0;
	padding: 0;
	/*使用vw单位时，滚动条的出现会对布局产生影响，需消除滚动条*/
	overflow:hidden;  
}

div{
	width: 31vw;
    height: 31vw;
	background: orange;
	margin:1%;
	border-radius:10%;
	float:left;
}


