body{
	width:100%;
	margin:0;
	padding:0;
	background:#29bde0;
	text-align:center;
	font-size:1em;
	min-width:450px;
}

header{
	width:100%;
	height:100px;
	line-height:100px;
	border-bottom:1px solid #74d4eb;
	color:#fff;
	font-size:1.8em;
	position:relative;
}

.goback{
	width:26px; 
	height:44px;
    background: url('images/bg2.png') -333px -66px;
    position:absolute;
    top:50%;
    margin-top:-22px;
    left:20px;
}

.close{
	width:36px; 
	height:36px;
    background: url('images/bg2.png') -333px -10px;
    position:absolute;
    top:50%;
    margin-top:-18px;
    right:20px;
}

.body{
	width:70%;
	background:#ffedc5;
	border:3px solid #fff;
	display:inline-block;
	margin:100px 0;
}

.flop{
	width:303px; 
	height:302px;
    background: url('images/bg2.png') -10px -10px;
    display:inline-block;
    margin:130px 0;
}

.count{
	height:70px;
	line-height:70px;
	width:70px;
	background:#fff;
	border:3px solid #ffedc5;
	border-radius:50%;
	position:absolute;
	top:165px;
	left:50%;
	margin-left:-35px;
	color:#f56b81;
	font-size:1.9em;
}
@media screen and (max-width:450px){
	.count{
		left:225px;
	}
}

button{
	height:85px;
	width:80%;
	background:#fbb435;
	color:#fff;
	font-size:2.3em;
	margin-bottom:20px;
}












